{% extends 'aside-right.html.twig' %}
{% block title %}Salons thématiques {{global_name}}{% endblock %}

{% block headerblock %}{% endblock %}


{% block content %} 
<div class="col-xs-12">
    <div class="xs-py-15 xs-px-15">
        <h1 class="bloc-title">Salons thématiques (par nom)</h1>
        {% include "channel/channels_list.html.twig" %}
        {{ knp_pagination_render(channels) }}
        <h2 class="bloc-title xs-my-10">Dernières discussions thématiques</h2>
        {% include "post/post_list.html.twig" %}
    </div>
</div>
{% endblock %}


{% block aside %}
    <div class=" xs-py-10 xs-px-10">
        <a href="{{ url('post_new') }}" class="button orange">
            <svg class="plume"><use xlink:href="#plume"></use></svg>
            <span>Nouvelle discussion</span>
        </a>
    </div>
    <div class=" xs-py-10 xs-px-10">
        <a href="{{ url('channel_new') }}" class="button orange">
            <svg class="plume"><use xlink:href="#plume"></use></svg>
            <span>Nouveau salon</span>
        </a>
    </div>
{% endblock %}

