{% extends 'base.html.twig' %}

{% block title %}New RapidPostChannel{% endblock %}

{% block body %}
    <h1>Create new RapidPostChannel</h1>

    {{ include('channel/_form.html.twig') }}

    <a href="{{ path('channels_index') }}">back to list</a>
{% endblock %}
