<section class="bloc-blog xs-px-10 xs-py-10">
    <table>
        <thead>
            <tr>
                <th>Offres</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for offer in offers %}
            <tr>
                <td>{{ offer.title|striptags }}</td>
                <td>
                    <a href="{{ path('market_edit_offer', {'id': offer.id}) }}" class="button orange small"><span>Editer</span></a>
                    <a target="_blank" href="{{ path('market_show_offer', {'id': offer.id}) }}" class="button orange small"><span>Voir</span></a>
                </td>
                <td>
                    {% include "market/_delete_form.html.twig" %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>