{% extends 'full-content.html.twig' %}
{% block title %}Liste des utilisateurs {{global_name}}{% endblock %}

{% block content %} 
<div class="col-xs-12">
    <div class="xs-py-15 xs-px-15">
        <div class="letter-choice">
            {% set letters = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','T','Z'] %}
            {% for letter in letters %}
                <span class="letter {% if (letter == currentLetter) %}current{% endif %}"><a href="{{url('users_index', {'letter': letter}) }}" >{{ letter }}</a></span>
            {% endfor %}
        </div>
        <h1 class="bloc-title">Liste des utilisateurs</h1>
        {% include "user/users_list.html.twig" %}
        {{ knp_pagination_render(users) }}
    </div>
</div>
{% endblock %}

