<div class="associations-list">
    <a href="" class="association">
        <div class="logo">
            <img src="" title="Nom de l'association"/>
        </div>
        <div class="name">
            Nom de l'association
        </div>
    </a>
</div>