<section class="bloc-asso xs-px-10 xs-py-10">
    <h1 class="bloc-title">Direct'assos</h1>
    <div class="assos-feed">
    <?php for($i = 0; $i < 4; $i++): ?>
        <div class="asso-item col-xs-12 col-md-6">
            <a href="" class="content">
                <div class="text">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero facere dolorem optio magni!</p>
                </div>
                <img src="https://picsum.photos/750/240" class="" title=""/>
            </a>
        </div>
    <?php endfor; ?>
    </div>
    <div class="bloc-more">
        <a href="#" class="button orange"><span>Voir plus d'actualités associatives</span></a>
    </div>
</section>