{% extends 'aside-left.html.twig' %}
{% block title %}Accueil {{global_name}}{% endblock %}

{% block aside %}
<nav id="nav-menu" class="nav-menu">
    <div class="xs-px-10 xs-py-10">
        <a href="#" class="button orange">
            <svg class="plume">
                <use xlink:href="#plume"></use>
            </svg>
            <span>Initier une discussion</span>
        </a>
    </div>
    {% include "nav/nav-menu.html.twig" %}
</nav>
{% endblock %}

{% block content %}
    {% include "channel/home_bloc.html.twig" %}
    {% include "blog/home_bloc.html.twig" %}
{% endblock %}
