<div class="menu-item">
    <a href="#">
        <svg class="rapidpost"><use xlink:href="#rapidpost"></use></svg>
        <span>Liste des Salons</span>
    </a>
</div>
<div class="menu-item">
    <a href="#">
        <svg class="blogpost"><use xlink:href="#blogpost"></use></svg>
        <span>Activité des Blogs</span>
    </a>
</div>
<div class="menu-item">
    <a href="#">
        <svg class="market"><use xlink:href="#market"></use></svg>
        <span>Place du marché</span>
    </a>
</div>
<div class="menu-item">
    <a href="#">
        <svg class="association"><use xlink:href="#association"></use></svg>
        <span>Assos'actu</span>
    </a>
</div>
<div class="menu-item">
    <a href="#">
        <svg class="user"><use xlink:href="#user"></use></svg>
        <span>Mon profil</span>
    </a>
</div>
<div class="menu-item">
    <a href="#">
        <svg class="loupe"><use xlink:href="#loupe"></use></svg>
        <span>Recherche</span>
    </a>
</div>