<section class="bloc-blog xs-px-10 xs-py-10">
    <table>
        <thead>
            <tr>
                <th>Article</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for post in blogPosts %}
            <tr>
                <td>{{ post.title|striptags }}</td>
                <td>
                    <a href="{{ path('blog_post_edit', {'id': post.id}) }}" class="button orange small"><span>Editer</span></a>
                    <a href="{{ path('blog_post_show', {'id': post.id}) }}" class="button orange small"><span>Voir</span></a>
                </td>
                <td>
                    {% include "blog/_delete_form.html.twig" %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>