{% extends 'aside-left.html.twig' %}
{% block title %}Recherche {{global_name}}{% endblock %}

{% block aside %}
<div class="xs-py-15 xs-px-15">
    <h2 class="bloc-title">Recherche</h2>
    {% include "search/_form.html.twig" %}
</div>
{% endblock %}
{% block content %}
<div class="col-xs-12">
    <div class="xs-py-15 xs-px-15">
        <h1 class="bloc-title">Résultats</h1>
        {% if search_result != false %}
            {% if search_type == 'user' %}
                {% include "search/users_list.html.twig" %}
            {% elseif search_type == 'channel' %}
                {% include "search/channels_list.html.twig" %}
            {% elseif search_type == 'blogpost' %}
                {% include "search/blogposts_list.html.twig" %}
            {% elseif search_type == 'rapidpost' %}
                {% include "search/rapidposts_list.html.twig" %}
            {% elseif search_type == 'offer' %}
                {% include "search/offers_list.html.twig" %}
            {% elseif search_type == 'association' %}
                {% include "search/associations_list.html.twig" %}
            {% else %}
                Aucun résultat !            
            {% endif %}
        {% elseif search_result == false %}
            <div class="alert alert-error">
                Aucun résultat ne correspond à votre recherche.
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
