{% extends 'base.html.twig' %}

{% block title %}Erreur {{global_name}}{% endblock %}
{% block header %}{% include 'header_guest.html.twig' %}{% endblock %}

{% block body %}
    <div class="error-container">
        <h1 class="error-code">503</h1>
        <p class="error-info">Une erreur interne est survenue.</p>
        <a href="{{ url('home') }}" class="error-home">Retour à l'accueil</a>
    </div>
{% endblock %}