.blog-feed {
    .blog-item {
        position: relative;
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
        .content-box {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .picture-box {
                overflow: hidden;
                width: 100%;
                padding-top: 56.24%;
                position: relative;
                margin-right: 0px;
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 110%;
                    height: auto;
                }
            }
            .main-content {
                flex: 1;
                .text-content {
                    display: block;
                    margin-bottom: 15px;
                    h3 {
                        display: block;
                        font-family: 'Roboto Bold', sans-serif;
                        font-size: 18px;
                        color: color(textGreyDark);
                        text-align: left;
                        margin-bottom: 5px;
                    }
                    p {
                        display: block;
                        font-size: 14px;
                        color: color(textGreyDark);
                        text-align: justify;
                    }
                }
                .more-content {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .stats {
                        .comments, .likes {
                            display: inline-block;
                            margin-right: 5px;
                            svg {
                                width: 20px;
                                height: 20px;
                                fill: color(bgSecondColor);
                                display: inline-block;
                                vertical-align: middle;
                                margin-right: 5px;
                            }
                            span {
                                display:inline-block;
                                vertical-align: middle;
                                font-size: 18px;
                                color: color(textGreyLight);
                            }
                        }
                        
                    }
                    a {
                        height: 25px;
                        font-size: 16px;
                        padding: 2px 20px;
                    }
                }
            }
        }
        @include for-breakpoint(md) {
            .content-box {
                flex-direction: row;

                .picture-box {
                    width: 150px;
                    height: 90px;
                    margin-right: 20px;
                    padding-top: 0;
                    img {
                        height: 110%;
                        width: auto;
                    }
                }
            }
        }
        .author-box {
            width: 20%;
            display: none;
            justify-content: center;
            
            a { 
                display: flex;
                flex-direction: column;
                align-items: center;
                align-content: center;
                text-decoration: none;
                .avatar {
                    border-radius: 50%;
                    background-color: color(bgSecondColor);
                    width: 50px;
                    height: 50px;
                    margin-right: 5px;
                    position: relative;
                    overflow: hidden;
                    svg {
                        fill: color(bgWhite);
                        width: 45px;
                        height: 45px;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translate(-50%, 0);
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                .name {
                    margin-top: 5px;
                    font-size: 16px;
                    color: color(textGreyLight);
                }
                .publications {
                    color: color(textGreyLight);
                    font-size: 12px;
                    font-style: italic;
                }
            }
        }
        @include for-breakpoint(lg) {
            .content-box {
                width: 80%;
            }
            .author-box {
                display: flex;
                width: 20%;
            }
        }
        &::after {
            display: block;
            content: '';
            height: 1px;
            width: 70%;
            margin: 0 auto;
            background-color: color(bgSecondColor);
            position: absolute;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &.profil {
        .author-box {
            display: none!important;
        }
        .content-box {
            width: 100%!important;
        }
    }
}