.main-header {
    width: 100%;
    height: 55px;
    background-color: color(headerBackground);
    position: relative;
    .main-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 25px;
        position: relative;
        z-index: 99;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        background-color: color(headerBackground);
        .left-content {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            height: 100%;
            
            .burger-button {
                display: flex;
                align-items: center;
                cursor: pointer;
                text-align: center;
                svg.burger-menu {
                    fill: color(textGreyDark);
                    width: 33px;
                    height: 25px;
                }
                width: 66px;
                border-right: 2px solid #D9D8D8;
                margin-right: 20px;
            }
            .logo-container {
                cursor: pointer;
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                svg.esu-logo {
                    width: 73px;
                    height: 53px;
                }
            }
        }
        .center-content {
            width: 100%;
            max-width: 670px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .search-box {
                position: relative;
                display: none;
                .input-group {
                    display: block;
                    form {
                        display: flex;
                        flex-direction: row;
                        input, button {
                            height: 40px;
                        }
                        input {
                            padding: 0px 5px;
                            margin:0;
                            border-radius: 7px 0 0 7px;
                            background-color: color(bgGrey);
                            width: 100%;
                            border: none;
                        }
                        button {
                            width:40px;
                            border: none;
                            cursor: pointer;
                            border-radius: 0 50% 50% 0;
                            background-color: color(bgMainColor);
                            padding: 0;
                            svg.search {
                                fill: color(bgWhite);
                                width: 19px;
                                height: 19px;
                            }
                        }
                    }
                }
                .result-group {
                    background-color: color(bgWhite);
                    height: 450px;
                    max-height: 100vh;
                    overflow-y: scroll;
                    position: absolute;
                    top: 40px;
                    width: 100%;
                    border-top: 2px solid color(bgMainColor);
                    z-index: 9;
                }
            }
            @include for-breakpoint(md) {
                .search-box {
                    display: initial;
                }
            }
        }
        .right-content {
            display: flex;
            flex-direction: row;
            .user-box {
                display: flex;
                position: relative;
                a {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: max-content;
                    height: 100%;
                    margin-right: 15px;
                    .user-avatar {
                        background-color: color(bgGreyBold);
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        margin-right: 5px;
                        position: relative;
                        svg {
                            fill: color(bgWhite);
                            height: 35px;
                            width: 35px;
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            transform: translate(-50%, 0);
                        }
                        overflow: hidden;
                        img {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .user-name {
                        span {
                            font-size: 18px;
                            color: color(textGreyLight);
                        }
                    }
                }
                &:hover {
                    .user-menu {
                        display: flex;
                        flex-direction: column;
                    }
                }
                .user-menu {
                    position: absolute;
                    top: 55px;
                    right: 0px;
                    display: none;
                    width: 250px;
                    background-color: color(bgWhite);
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
                    height: auto;
                    .item {
                        width: 100%;
                        height: auto;
                        text-align: left;
                        span {
                            display:block;
                            padding: 10px 15px;
                            text-decoration: none;
                            font-size: 16px;
                            color: color(textGreyDark);
                        }
                        &:hover {
                            background-color: color(bgSecondColor);
                        }
                    }
                }
            }
            .help-zone {
                display: flex;
                align-items: center;
                border-left: 2px solid #D9D8D8;
                padding: 0px 0px 0px 15px;
                a {
                    display: block;
                }
                svg.help {
                    fill: color(textGreyDark);
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
    .nav-menu {
        z-index: 98;
    }
    @include for-breakpoint(md) {
        .nav-menu {
            max-width: 250px;
        }
    }
}