.login-header {
    width: 100%;
    text-align: center;
}

.login-box {
    form {
        width: 95%;
    }
}


@include for-breakpoint(xl) {
    .login-box {
        form {
            width: 70%;
            margin: auto auto;
        }
    }
}