.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;

    span {
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;

        
        &.current, &.first, &.last, &.previous, &.next {
            color: color(textWhite);
            font-family: 'Roboto Medium', sans-serif;
            background-color: color(bgMainColor);
            a {
                color: color(textWhite);
            }
        }
        &.first, &.last, &.previous, &.next {
            background-color: rgba(color(bgMainColor), 0.8);
        }
        &.page {
            a {
                text-decoration: none;
                color: color(textGreyDark);
            }
        }
    }
}