{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block header %}{% include 'header.html.twig' %}{% endblock %}
{% block body %}
    <div class="main-container">
        {% block headerblock %}{% endblock %}
        <div class="content-col col-xs-12 col-lg-9">
            <div class="bg-bgWhite max-size">
                {% block content %} {% endblock %}
            </div>
        </div>
        <div class="aside-col col-xs-12 col-lg-3">
            <div class="bg-bgWhite max-size">
                {% block aside %}{% endblock %}
            </div>
        </div>
        
    </div>
{% endblock %}