<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue !{% endblock %}</title>
        <meta name="application-name" content="ESU">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="{{asset('/static/css/style.css')}}"/>
        <script src="https://cdn.tiny.cloud/1/voq1yl52ypf7261d320se7vr6kcdlqxj65sgpcpr4iuad3z1/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    </head>
    <body>
        {% block header %} {% endblock %}
        {% block body %}{% endblock %}
        {% include('footer.html.twig') %}
    </body>
</html>
