</main>
<footer class="main-footer">
    Réalisé avec <span class="coeur"></span> par les étudiants de <span class="cvtic"></span> - 2021
</footer>
<div id="svg-sprite">{% include "sprite.svg" %}</div>
<script src="{{asset('/static/js/script.js')}}"></script>
</body>
</html>