{% extends 'full-content.html.twig' %}
{% block title %}Réponses à {{ post.author.firstname ~ ' ' ~ post.author.lastname}} {{global_name}}{% endblock %}

{% block headerblock %}{% endblock %}


{% block content %} 
<div class="col-xs-12">
    <div class="xs-py-15 xs-px-15">
        <h1 class="main-title">{{ post.title }}</h1>
        <div class="initial-post">

        </div>
        <h2 class="bloc-title">Réponses à {{ post.author.firstname }}</h2>
        <div class="posts-list">
            {% include "post/responses_list.html.twig" %}
        </div>
    </div>
</div>
{% endblock %}

