{% extends 'base.html.twig' %}

{% block title %}Connexion {{global_name}}{% endblock %}
{% block header %}{% include 'header_guest.html.twig' %}{% endblock %}

{% block body %}
<div class="register-login-container">
    <h1 class="thin-dark-title-big">Accès sécurisé</h1>
    <div class="login-box">
        <form method="POST">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="form-line">
                <div class="group-block">
                    <label for="email">Adresse email</label>
                    <div class="input-box">
                        <div class="input-logo"><svg class="user"><use xlink:href="#user"></use></svg></div>
                        <input required="required" type="email" name="email" id="inputEmail"/>
                    </div>
                </div>
            </div>
            <div class="form-line">
                <div class="group-block">
                    <label for="password">Mot de passe</label>
                    <div class="input-box">
                        <div class="input-logo"><svg class="padlock"><use xlink:href="#padlock"></use></svg></div>
                        <input required="required" type="password" name="password" id="inputPassword"/>
                    </div>
                </div>
            </div>
            <div class="form-line">
                <div class="button-block">
                    <button onclick="submit()" class="submit" type="submit">Se connecter</button>
                    <a href="{{ url('app_register') }}">S'inscrire</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
