$colors: (
    pageBackground: #F0F0F0,
    headerBackground: #F6F6F6,
    bgWhite: #FFFFFF,
    bgGrey: #E9E9E9,
    bgGreyBold: #D9D8D8,
    bgGreyDark: #cccccc,
    bgMainColor: #E85412,
    bgSecondColor: #cccccc,
    textWhite: #ffffff,
    textGreyLight: #9C9C9C,
    textGreyDark: #494949
);

@function color($name) {
    @return map-get($colors, $name);
}