$colors: (
    pageBackground: #F0F0F0,
    headerBackground: #F6F6F6,
    bgWhite: #FFFFFF,
    bgGrey: #E9E9E9,
    bgGreyBold: #9C9C9C,
    bgGreyDark: #494949,
    bgMainColor: #E85412,
    textOrange: #E85412,
    bgSecondColor: #cccccc,
    textWhite: #ffffff,
    textGreyLight: #9C9C9C,
    textGreyDark: #494949
);

@function color($name) {
    @return map-get($colors, $name);
}

@each $k, $v in $colors {
    .bg-#{$k} {
        background-color: $v;
    }
    .color-#{$k} {
        color: $v;
    }
    .fill-#{$k} {
        fill: $v;
    }
}